<!-- todo_list/todo_app/templates/base.html -->
<!-- base template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Django To-do List</title>
</head>
<body>
    <div>
        <h1 onclick="location.href='{% url index %}'">
            Django To-do List
        </h1>
    </div>
    <div>
        {% blockcontent %}
        This content will be repleace by different html for each page
        {% endblock %}
    </div>
</body>
</html>